
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
   
    
} 

.section{
    width: 100%;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#clock{
    font-size: 8rem;
    background: rgb(255, 0, 136);
    border-radius: 30px;
    padding: 10px 50px;
    display: inline-block;
    color: white;
    box-shadow: 0px 0px 40px 1px rgb(255, 0, 136);
    transition:all .5s ease-in-out; 
    font-family: 'Digital-7', arial;
    
}
#date{
    font-size: 40px;
     color: white;
   margin-top: 10px;
   transition:all .5s ease-in-out; 
}





/* Responsive */

@media screen and (max-width:1000px){
    #clock{
        width: 100%;
        font-size: 6rem;
    }
    #date{
        font-size: 30px;
    }
}

@media screen and (max-width:850px){
    #clock{
        width: 100%;
        font-size: 5rem;
    }
    #date{
        font-size: 25px;
    }
    }

@media screen and (max-width:700px){
    #clock{
        width: 100%;
        font-size: 4rem;
    }
    #date{
        font-size: 20px;
}
}

@media screen and (max-width:610px){
    #clock{
        width: 100%;
        font-size: 3rem;
    }
    #date{
        font-size: 16px;
}
}

@media screen and (max-width:400px){
    #clock{
        width: 100%;
        font-size: 2rem;
    }
    #date{
        font-size: 14px;
}
}

